.banner-container {
  display: flex;
  position: relative;
  height: 500px;
  width: 100%;
}

.banner-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
  position: relative;
  padding-top: 5em;
}

.movie-info {
  position: absolute;
  left: 6em;
  top: 20em;
  display: flex;
}

.movie-aside {
  margin: 1em 1em 1em 4em;
}

.poster-img {
  width: 250px;
  margin-bottom: 1.75em;
}

.movie-main {
  color: white;
  margin-left: 2em;
  margin-right: 10em;
  width: 75%;
}

.backdrop-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16em;
  margin-top: 1em;
  padding-top: 1em;
  padding-left: 1em;
  background-image: linear-gradient(to right, #0c0c0cb0, #23212100);
}

.responsive-poster {
  display: none;
}

.title {
  font-size: 2.8em;
  margin: 0;
}

.tagline {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.genre {
  border: solid white 1px;
  border-radius: 5px;
  padding: 0.3em;
  margin-right: 1em;
}

.genre-list {
  display: flex;
  font-size: 0.8em;
}

.overview-box {
  display: flex;
  flex-direction: column;
  padding-top: 1.25em;
  padding-left: 1em;
}

.responsive-list {
  display: none;
}

.trailer-box {
  padding-top: 1.25em;
  padding-left: 1em;
  width: 650px;
}

.trailer-header {
  margin-bottom: .5em;
}

.rating-star {
  margin-top: 0;
  font-size: 2.25em;
}

.rating-watchlist {
  display: flex;
  margin: 1em 0em 1.5em 0em
}

.add-watchlist-button {
  height: 2em;
  margin: 2.3em 0em 0em 2em;
  border: solid white 0.1em;
  border-radius: 1em;
  color: white;
  background-color: black;
  font-size: 0.8em;
  outline: none;
  min-width: 10.417em;
}

.add-watchlist-button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.on-watchlist-button {
  height: 2em;
  margin: 2.3em 0em 0em 2em;
  border: solid black 0.1em;
  border-radius: 1em;
  color: black;
  background-color: white;
  font-size: 0.8em;
}

.responsive-genre-list {
  display: none;
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
  .movie-aside {
    display: none;
  }

  .responsive-poster {
    display: block;
  }

  .poster-img {
    width: 130px;
    margin-right: 15px;
  }

  .responsive-list {
    display: block;
  }

  .movie-main {
    margin: .25em;
  }

  .movie-info {
    justify-content: center;
    left: 0;
  }
  
  .backdrop-overlay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .genre-list {
    display: none;
  }

  .responsive-genre-list {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .banner-container {
    height: 8em;
  }

  .banner-img {
    display: none;
  }

  .movie-aside {
    display: none;
  }

  .responsive-list {
    display: block;
  }

  .movie-main {
    margin: .25em;
  }

  .movie-info {
    position: static;
    justify-content: center;
    left: 0;
  }

  .responsive-poster {
    display: block;
  }

  .poster-img {
    width: 130px;
    margin-right: 15px;
  }
  
  .title {
    font-size: 2em;
  }

  .backdrop-overlay {
    display: flex;
    flex-direction: row;
  }

  .rating-star {
    font-size: 2em;
  }

  .genre-list {
    display: none;
  }

  .responsive-genre-list {
    display: flex;
  }
}