.poster {
  box-sizing: border-box;
  padding: 10px;
  color: white;
}

.poster:hover {
  cursor: pointer;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
}

.card-img {
  height: 275px;
}
