.poster {
  box-sizing: border-box;
  /* padding: 10px; */
  color: white;
  background: black;
  box-shadow: 0px 0px 15px #0e0e0e;
}

.poster:hover {
  cursor: pointer;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
}

.card-img {
  width: 100%;
  margin: 0;
}

.poster-title {
  height: 3.75em;
  display: flex;
  align-items: center;
  padding-left: .75em;
  font-size: 1.3em;
  margin: 0em;
}

.poster-rating {
  padding-left: .75em;
  margin-top: 0em;
  font-size: 0.9em;
}

.poster-rating-mini {
  display: none;
  padding-left: .75em;
}

@media only screen and (max-width: 1024px) and (min-width: 950px) {
  .poster-title {
    height: 3.75em;
    padding-left: .75em;
    margin: 0;

  }
  
  .poster-rating {
    padding-left: .75em;
  }
}

@media only screen and (max-width: 949px) {
  .poster-title {
    height: 3.75em;
    padding-left: .75em;
    margin: 0;

  }
  
  .poster-rating {
    padding-left: .75em;
  }
}

@media only screen and (max-width: 540px) {
  .poster-title {
    height: 3.75em;
    padding-left: .75em;
    margin: 0.3em;
  }
  
  .poster-rating {
    display: none;
  }

  .poster-rating-mini {
    display: block;
    margin-top: 0;
  }
}

