.details-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5em;
	font-size: 0.9em;
}

.l-details {
	text-align: left;
	margin: 0;
}

.r-details {
	text-align: right;
	margin: 0;
}


@media only screen and (max-width: 1025px) and (min-width: 768px) {
	.details-box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 400px;
		margin: 5px;
	}
	
	.l-details {
		text-align: right;
		margin: 0px 10px;
		width: 200px;
	}
	
	.r-details {
		text-align: left;
		margin: 0px 10px;
		width: 200px;
	}
}