header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

body {
  color: white;
  background-color: black;
}

.page-title {
  margin: .75em .75em 0 .75em;
}

nav {
  display: flex;
  align-items: flex-end;
}

.nav-labels {
  margin: .75em .75em 0.2em .75em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

.active:hover {
  color: white;
  text-decoration: underline;
  cursor: default;
}

.active {
  text-decoration: underline;
}

.btn-primary {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.show>.btn-primary.dropdown-toggle {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.dropdown-toggle:focus {
  box-shadow: 0em black;
}

@media only screen and (max-width: 539px) {
  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    margin-left: .75em;
  }
}

#blockColorblindContent { 
  display: none; 
}