body {
  color: white;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

.active:hover {
  color: white;
  text-decoration: underline;
  cursor: default;
}

.active {
  text-decoration: underline;
}

.btn-primary {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.show>.btn-primary.dropdown-toggle {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: black;
  border-color: black;
}

.dropdown-toggle:focus {
  box-shadow: 0em black;
}

.genre-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.active-text {
  text-decoration: underline;
}

.dropdown-text {
  margin-bottom: 0;
}

.btn {
  padding: none;
}

button {
  border: none;
}

.clear {
  height: 2em;
  border: solid white 0.1em;
  border-radius: 1em;
  color: white;
  background-color: black;
  font-size: 0.8em;
  outline: none;
}

#blockColorblindContent { 
  display: none; 
}