@import '../scss/variables';

body {
  color: $font-color;
  background-color: $background-color;
}

a {
  color: $font-color;
  text-decoration: none;
}

a:hover {
  color: $hover-color;
}

.active:hover {
  color: $font-color;
  text-decoration: underline;
  cursor: default;
}

.active {
  text-decoration: underline;
}

.btn-primary {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: $background-color;
  border-color: $background-color;
}

.btn-primary:hover {
  cursor: pointer;
}

.show>.btn-primary.dropdown-toggle {
  padding-bottom: 0;
  margin-bottom: -0.1em;
  padding-left: 0;
  background-color: $background-color;
  border-color: $background-color;
}

.dropdown-toggle:focus {
  box-shadow: 0em $background-color;
}

.genre-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

.active-text {
  text-decoration: underline;
}

.dropdown-text {
  margin-bottom: 0;
}

.btn {
  padding: none;
}

button {
  border: none;
}

.clear {
  height: 2em;
  border: solid $font-color 0.1em;
  border-radius: 1em;
  color: $font-color;
  background-color: $background-color;
  font-size: 0.8em;
  outline: none;
}

#blockColorblindContent { 
  display: none; 
}