.movie-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

@media only screen and (max-width: 1024px) and (min-width: 950px) {
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 949px) {
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}