.trailer-box {
  width: 650px;
}

@media only screen and (max-width: 1025px) and (min-width: 768px) {
  .react-player {
    width: 600px;
  }

  .carousel-root {
    width: auto;
    height: auto;
  }

}

@media only screen and (max-width: 767px) {
  .trailers {
    width: 350px;
  }
}