@mixin watchlist-button($color, $secColor, $margTop) {
  height: 2em;
  margin: $margTop 0em 0em 2em;
  border: solid $color 0.1em;
  color: $color;
  background-color: $secColor;
  border-radius: 1em;
  font-size: 0.8em;
  outline: none;
  min-width: 10.417em;
}